.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Project
      .panel-body
        %strong.center Current Image
        %br/
        = image_tag @project.image.url(:medium)
        %br/
        = render 'form'


